@import url('https://fonts.cdnfonts.com/css/nozstudio');
*{
    margin: 0;
    padding: 0;
}
/* Navbar */
nav {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    font-family: 'NOZSTUDIO', sans-serif;
    border-bottom: 1px solid rgba(36, 35, 61, 0.568);
}
nav a {
    text-decoration: none;
    color: rgb(36, 35, 61);
    font-size: 18px;
}
nav a:hover {
    border-bottom: 2px solid rgb(36, 35, 61);
}
nav img {
    height: 40px;
    margin-left: 15px;
}
main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(36, 35, 61);
}
/* Carrossel */
.img {
position: relative;
z-index: -1;
display: flex;
align-items: center;
}
#carro {
    width: 100%;
    margin-top: 60px;
}
#group1 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#group1 h1 {
    display: flex;
    align-items: center;
    color: aliceblue;
    width: 60vw;
    height: 100px;
    padding: 30px;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.521);
}
#group1 img {
    width: 300px;
}
#A {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
/* Sobre Nós */
.sobre {
    padding: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#img_texto img {
    width: 400px;
    height: 250px;
    border: 5px solid rgba(36, 35, 61);
}
#img_texto {
    rotate: 15deg;
    background-color: rgba(36, 35, 61);
    color: azure;
    text-align: center;
    padding-bottom: 4px;
    z-index: 0;
}
#texto {
    width: 600px;
}
#texto p {
    font-size: 18px;
}
.pilotos {
    background-color: rgb(36, 35, 61);
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img_texto2 img {
    height: 350px;
    display: flex;
    align-items: center;
}
#texto2 {
    width: 500px;
    padding: 40px;
}
#texto2 p {
    font-size: 18px;
}
#texto2 a {
    color: rgb(16, 169, 196);
}
.drivers2024 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'NOZSTUDIO', sans-serif;
}
.classificao {
    display: flex;
    justify-content: center;
    color: azure;
    z-index: 1;
    position: relative;
    /* background: rgb(2,0,36);
    background: linear-gradient(45deg, rgb(0, 0, 0) 20%, rgb(1, 1, 51) 50%, rgb(4, 4, 61) 85%, rgb(3, 39, 107) 100%); */
}
/* drivers 2024 */
#im {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 1310px;
}
#im img {
    width: 100%;
    height: 100%;
}
#img3 {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#img3 img {
    width: 300px;
}
#img3 h2 {
    font-family: 'NOZSTUDIO' , sans-serif;
    padding-top: 20px;
    border-bottom: 1px solid azure;
    margin-bottom: 15px;
}
/*  */
table {
    padding: 50px 200px;
    font-size: 24px;
}
#resto {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}
#juncao {
    display: flex;
    align-items: center;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo img {
    max-width: 40px;
    padding-left: 5px;
    padding-right: 10px;
    max-height: 25px; 
}
td {
    padding: 8px;
    border: 1px solid azure;
}
footer {
    width: 100%;
    height: 300px;
    background-color: rgb(22, 22, 37);
}
/* Interação botões */
#pilotos {
    display: block;
}
#construtores {
    display: none;
}
/*  */
.equipe {
    display: flex;
    justify-content: space-between;
}
.equipe img {
    width: 300px;
}
#inf {
    background-color: rgb(18, 26, 51);
    width: 100%;
    color: azure;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'NOZSTUDIO' , sans-serif;
    font-size: 12px;
}
.tit_senna {
    height: 60px;
    font-family: 'NOZSTUDIO' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.senna {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(22, 22, 37);
}
#homenagem {
    padding: 30px;
    color: azure;
}
#homenagem p {
    font-size: 18px;
}
.cadastro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cadastro_img {
    background-color: rgb(22, 22, 37);
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px 0px 0px 35px;
    z-index: 1;
}
#cadastro_img img {
    width: 250px;
}
#cadastro {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    gap: 20px;
    z-index: 1;
    border-radius: 0px 35px 35px 0px;
    background-color: rgb(255, 255, 255);
}
#cadastro h2 {
    color: rgb(22, 22, 37);
    font-size: 22px;
    text-align: center;
    width: 80%;
}
#cadastro button {
    font-size: 22px;
    padding: 3px 20px;
    border-radius: 5px;
    background-color: rgb(74, 74, 126);
    color: azure;
}
input {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(103, 111, 114);
    background-color: rgb(216, 216, 216);
}
.group5 {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}
#carro1 {
    width: 100%;
    height: 600px;
}
#sombra {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
}
#absolute {
    position: absolute;
    display: flex;
}
.botoes {
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.botoes button {
    font-size: 20px;
    width: 400px;
    margin-top: 70px;
    background-color: rgb(189, 214, 214);
    color: rgb(22, 22, 37);
    font-family: 'NOZSTUDIO' , sans-serif;
    border-radius: 10px;
}
.botoes button:hover {
    background-color: rgb(60, 59, 121);
    color: rgb(189, 214, 214);
}
